Repository askui/askui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: examples:askui-nodejs-base-example:lint, docs:build

Path conditions:
  examples:askui-nodejs-base-example:lint: any of: examples/askui-nodejs-base-example/**/*
  docs:build: any of: docs/**/*

ci: release docs under docs.askui.com
  .gitlab-ci.yml
Due: none

docs(askui-nodejs): add in-code-documentation (typedocs) (#AS-723)
  packages/askui-nodejs/src/core/model/test-case-dto/custom-element-json.ts
  packages/askui-nodejs/src/execution/dsl.ts
Due: none

fix(askui-nodejs): make errors more understandable (#AS-843)
  packages/askui-nodejs/src/execution/client-error.ts
  packages/askui-nodejs/src/execution/client.ts
  packages/askui-nodejs/src/execution/control-command-error.ts
  packages/askui-nodejs/src/execution/control-your-ui-client.ts
  packages/askui-nodejs/src/execution/dsl.spec.ts
  packages/askui-nodejs/src/execution/dsl.ts
  packages/askui-nodejs/src/execution/execution-runtime.ts
  packages/askui-nodejs/src/lib/control-ui-server.ts
  packages/askui-nodejs/src/utils/http/custom-errors/authentication-http-client-error.ts
  packages/askui-nodejs/src/utils/http/custom-errors/client-http-client-error.ts
  packages/askui-nodejs/src/utils/http/custom-errors/general-http-client-error.ts
  packages/askui-nodejs/src/utils/http/custom-errors/http-client-error.ts
  packages/askui-nodejs/src/utils/http/custom-errors/index.ts
  packages/askui-nodejs/src/utils/http/custom-errors/server-http-client-error.ts
  packages/askui-nodejs/src/utils/http/custom-errors/unkown-http-client-error.ts
  packages/askui-nodejs/src/utils/http/http-client-got.ts
  packages/askui-nodejs/src/utils/http/index.ts
Due: none

refactor(askui-nodejs)!: name clearer and separate concerns clearer (#AS-891)
  package-lock.json
  packages/askui-nodejs/.eslintignore
  packages/askui-nodejs/.eslintrc.js
  packages/askui-nodejs/example_projects_templates/typescript_jasmine/specs/helpers/askui-helper.ts
  packages/askui-nodejs/example_projects_templates/typescript_jasmine/specs/my-first-askui-test-suite.spec.ts
  packages/askui-nodejs/example_projects_templates/typescript_jasmine/tsconfig.json
  packages/askui-nodejs/jest.config.js
  packages/askui-nodejs/package.json
  packages/askui-nodejs/src/execution/client.ts
  packages/askui-nodejs/src/execution/control-your-ui-client.ts
  packages/askui-nodejs/src/execution/index.ts
  packages/askui-nodejs/src/lib/askui-control-server.ts
  packages/askui-nodejs/src/lib/control-ui-server-args.spec.ts
  packages/askui-nodejs/src/lib/control-ui-server-args.ts
  packages/askui-nodejs/src/lib/control-ui-server-darwin.ts
  packages/askui-nodejs/src/lib/control-ui-server-facade.ts
  packages/askui-nodejs/src/lib/control-ui-server-linux.ts
  packages/askui-nodejs/src/lib/control-ui-server-win32.ts
  packages/askui-nodejs/src/lib/control-ui-server.ts
  packages/askui-nodejs/src/lib/index.ts
  packages/askui-nodejs/src/lib/timeout-error.ts
  packages/askui-nodejs/src/lib/unkown-error.ts
  packages/askui-nodejs/src/main.ts
  packages/askui-nodejs/tsconfig.json
Due: none

ci: fix feature publishing (auth)
  .gitlab-ci.yml
Due: none

docs: allow customers to use askui with one deploy token
  docs/docs/03-Continuous Integration/local-docker.md
  examples/askui-nodejs-base-example/Readme.md
  packages/askui-nodejs/README.md
Due: examples:askui-nodejs-base-example:lint, docs:build

ci: update browser image registry
  .gitlab-ci.yml
Due: none

feat: client side image resizing (#AS-899)
  packages/askui-nodejs/src/core/ui-control-commands/action.ts
  packages/askui-nodejs/src/core/ui-control-commands/control-command.ts
  packages/askui-nodejs/src/execution/control-your-ui-api.ts
  packages/askui-nodejs/src/utils/image-resize-errors/image-resizing-base-error.ts
  packages/askui-nodejs/src/utils/image-resize-errors/index.ts
  packages/askui-nodejs/src/utils/image-resize-errors/invalid-base64-image-error.ts
  packages/askui-nodejs/src/utils/resized-image-interface.ts
  packages/askui-nodejs/src/utils/transformations.ts
Due: none

ci(docker-containers): [AS-911] enable container tests after free space in gitlab-runner
  .gitlab-ci.yml
Due: none

ci(docker-container): [AS-911] triger change to check if container tests are running
  examples/askui-nodejs-base-example/specs/my-first-askui-test-suite.spec.ts
Due: examples:askui-nodejs-base-example:lint

feat: image resize was added as pre-annotation step (#AS-899)
  packages/askui-nodejs/src/core/annotation/annotation.ts
  packages/askui-nodejs/src/core/model/annotation-result/boundary-box.ts
  packages/askui-nodejs/src/core/model/annotation-result/detected-element.ts
  packages/askui-nodejs/src/core/ui-control-commands/action.ts
  packages/askui-nodejs/src/execution/control-your-ui-api.ts
  packages/askui-nodejs/src/utils/transformations.ts
Due: none

refactor: small changes (#AS-899)
  packages/askui-nodejs/src/utils/transformations.ts
Due: none

chore(license): add MIT license to project (#AS-912)
  LICENSE
  package.json
Due: none

feat(server args): add args for server logs (#AS-907)
  packages/askui-nodejs/src/lib/control-ui-server-args.spec.ts
  packages/askui-nodejs/src/lib/control-ui-server-args.ts
Due: none

refactor: implement review remarks (#AS-899)
  packages/askui-nodejs/src/utils/image-resize-errors/invalid-base64-image-error.ts
  packages/askui-nodejs/src/utils/transformations.ts
Due: none

refactor: implement review suggestion (#AS-899)
  packages/askui-nodejs/src/utils/transformations.ts
Due: none

docs(api docs): added sidebar and subfolder for api docs (#AS-814)
  docs/docs/api/API/table-of-contents.md
  docs/docs/general/01-Introduction/why-askui.md
  docs/docs/general/02-Getting Started/getting-started.md
  docs/docs/general/02-Getting Started/writing-your-first-test.md
  docs/docs/general/03-Continuous Integration/gitlab-ci.md
  docs/docs/general/03-Continuous Integration/local-docker.md
  docs/docs/general/03-Continuous Integration/vnc-example.png
  docs/docs/general/04-Tooling/annotate-image.md
  docs/docs/general/04-Tooling/annotate-interactively.md
  docs/docs/general/04-Tooling/interactive-annotate.gif
  docs/docusaurus.config.js
  docs/sidebars.js
Due: docs:build

fix(server args): fixed server args tests and removed std file (#AS-907)
  packages/askui-nodejs/src/lib/control-ui-server-args.spec.ts
  packages/askui-nodejs/src/lib/control-ui-server-args.ts
  packages/askui-nodejs/src/shared/log-levels.ts
Due: none

docs(online-docu): added best practice chapters (#AS-914)
  docs/docs/01-Introduction/roadmap.md
  docs/docs/03-Best Practice/label-textfield-relation.png
  docs/docs/03-Best Practice/selecting_ui_elements.mdx
  docs/docs/03-Best Practice/speed_up_execution.md
  docs/docs/04-Continuous Integration/gitlab-ci.md
  docs/docs/04-Continuous Integration/local-docker.md
  docs/docs/04-Continuous Integration/vnc-example.png
  docs/docs/05-Tooling/annotate-image.md
  docs/docs/05-Tooling/annotate-interactively.md
  docs/docs/05-Tooling/interactive-annotate.gif
  docs/static/annotations/not_detected_element.html
  docs/static/annotations/selecting_ui_elements.html
Due: docs:build

docs: correct typos, major flaws in content and structure (wip) (#AS-913)
  docs/docs/01-Introduction/why-askui.md
  docs/docs/02-Getting Started/getting-started.md
  docs/docs/02-Getting Started/writing-your-first-test.md
  docs/docs/03-Continuous Integration/gitlab-ci.md
  docs/docs/03-Continuous Integration/local-docker.md
  docs/docs/04-Tooling/annotate-image.md
  docs/docs/04-Tooling/annotate-interactively.md
  docs/src/components/HomepageFeatures.js
Due: docs:build

feat: server log level support (#AS-907)
  .gitignore
  packages/askui-nodejs/src/lib/control-ui-server-args.spec.ts
  packages/askui-nodejs/src/lib/control-ui-server-args.ts
  packages/askui-nodejs/src/lib/control-ui-server-facade.ts
Due: none

docs(best practices): proof reading (#AS-914)
  docs/docs/03-Best Practice/selecting_ui_elements.mdx
  docs/docs/03-Best Practice/speed_up_execution.md
  docs/static/annotations/not_detected_element.html
  docs/static/annotations/selecting_ui_elements.html
Due: docs:build

docs: remove unesesarry files (#AS-914)
  docs/docs/04-Continuous Integration/gitlab-ci.md
  docs/docs/05-Tooling/annotate-image.md
  docs/docs/05-Tooling/annotate-interactively.md
  docs/docs/05-Tooling/interactive-annotate.gif
Due: docs:build

docs: fix link for getting started (#AS-914)
  docs/src/pages/index.js
Due: docs:build

chore: release 2.0.0-next.0 [skip-ci]
  CHANGELOG.md
  docs/package.json
  package-lock.json
  package.json
  packages/askui-nodejs/package.json
Due: docs:build

docs: make more consistent (#AS-913)
  docs/docs/general/01-Introduction/why-askui.md
  docs/docs/general/02-Getting Started/getting-started.md
  docs/docs/general/02-Getting Started/writing-your-first-test.md
  docs/docs/general/04-Continuous Integration/gitlab-ci.md
  docs/docs/general/05-Tooling/annotate-image.md
  examples/askui-nodejs-base-example/specs/README.md
  packages/askui-nodejs/README.md
  packages/askui-nodejs/example_projects_templates/typescript_jasmine/specs/README.md
  packages/askui-python/README.md
Due: examples:askui-nodejs-base-example:lint, docs:build

docs(best-practice): fix typos (#AS-913)
  docs/docs/general/03-Best Practice/selecting_ui_elements.mdx
  docs/docs/general/03-Best Practice/speed_up_execution.md
Due: docs:build

chore(askui-nodejs): upgrade project template
  packages/askui-nodejs/example_projects_templates/typescript_jasmine/specs/helpers/askui-helper.ts
  packages/askui-nodejs/example_projects_templates/typescript_jasmine/specs/my-first-askui-test-suite.spec.ts
Due: none

chore: match new names of cli args of controlyourui (#AS-907)
  examples/askui-nodejs-base-example/package-lock.json
  packages/askui-nodejs/src/lib/control-ui-server-args.spec.ts
  packages/askui-nodejs/src/lib/control-ui-server-args.ts
Due: examples:askui-nodejs-base-example:lint

chore: release 2.1.0-next.0 [skip-ci]
  CHANGELOG.md
  docs/package.json
  package-lock.json
  package.json
  packages/askui-nodejs/package.json
Due: docs:build

docs: fix discord link
  docs/docusaurus.config.js
Due: docs:build

docs: up browser docker image release version
  docs/docs/general/04-Continuous Integration/local-docker.md
  packages/askui-nodejs/README.md
Due: docs:build

feat: screenshot is skipped when its not needed (#AS-919)
  packages/askui-nodejs/src/execution/control-your-ui-api.ts
  packages/askui-nodejs/src/execution/execution-runtime.ts
  packages/askui-nodejs/src/execution/is-image-required-interface.ts
Due: none

docs(tutorial): added tutorial section with demp shop tut (#AS-901)
  docs/docs/general/06-Tutorials/login_overlap.png
  docs/docs/general/06-Tutorials/shop-demo.md
Due: docs:build

feat: auth credentials for the client (#AS-893)
  packages/askui-nodejs/src/execution/client-interface.ts
  packages/askui-nodejs/src/execution/client.ts
Due: none

feat: credentials can be defined as env variables (#AS-893)
  packages/askui-nodejs/src/utils/http/http-client-got.ts
Due: none

docs(tutorial): added spotify automation tutorial (#AS-901)
  docs/docs/general/06-Tutorials/spotify-tutorial.md
Due: docs:build

docs(docu-examples): fix all examples in the docu (#AS-918)
  docs/docs/general/02-Getting Started/writing-your-first-test.md
  docs/docs/general/03-Best Practice/speed_up_execution.md
  docs/docs/general/04-Continuous Integration/gitlab-ci.md
  docs/docs/general/04-Continuous Integration/local-docker.md
  docs/docs/general/05-Tooling/annotate-image.md
  docs/docs/general/05-Tooling/annotate-interactively.md
Due: docs:build
