Repository askui/askui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: examples:askui-nodejs-base-example:lint, docs:build

Path conditions:
  examples:askui-nodejs-base-example:lint: any of: examples/askui-nodejs-base-example/**/*
  docs:build: any of: docs/**/*

docs: improved structure of configuration docs (#AS-945)
  docs/docs/api/07-configuration.md
Due: docs:build

docs: switch jasmine to jest in example_projects_folder. readme, config file. test folder (#AS-923)
  packages/askui-nodejs/.eslintrc.js
  packages/askui-nodejs/example_projects_templates/typescript_jasmine/specs/README.md
  packages/askui-nodejs/example_projects_templates/typescript_jasmine/specs/helpers/askui-helper.ts
  packages/askui-nodejs/example_projects_templates/typescript_jasmine/specs/my-first-askui-test-suite.spec.ts
  packages/askui-nodejs/example_projects_templates/typescript_jasmine/specs/support/jasmine.json
  packages/askui-nodejs/example_projects_templates/typescript_jasmine/tsconfig.json
Due: none

docs: using Jest in exmaple-projects_templates. README, configfile and testfolder changed (#AS-923)
  packages/askui-nodejs/example_projects_templates/jest.config.js
  packages/askui-nodejs/example_projects_templates/tsconfig.json
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/README.md
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/my-first-askui-test-suite.test.ts
Due: none

docs: adding Jasmine example. Only change in template. Change path for npx init (#AS-923)
  examples/askui-nodejs-base-example/specs/README.md
  examples/askui-nodejs-base-example/specs/helpers/askui-helper.ts
  examples/askui-nodejs-base-example/specs/my-first-askui-test-suite.spec.ts
  examples/askui-nodejs-base-example/specs/support/jasmine.json
  examples/askui-nodejs-base-example/test/README.md
  examples/askui-nodejs-base-example/test/my-first-askui-test-suite.test.ts
  packages/askui-nodejs/example_projects_templates/jest.config.js
  packages/askui-nodejs/example_projects_templates/typescript_jest/jest.config.js
  packages/askui-nodejs/src/lib/copy-example-project.ts
Due: examples:askui-nodejs-base-example:lint

chore(examples): upgrade askui lib version to fix example (#AS-923)
  examples/askui-nodejs-base-example/package-lock.json
  examples/askui-nodejs-base-example/package.json
Due: examples:askui-nodejs-base-example:lint

docs: change Control-UI-Container-Version to v0.10.0 (#AS-923)
  .gitlab-ci.yml
Due: none

docs: change Control-UI-Container-Version to v0.9.0 (#AS-923)
  .gitlab-ci.yml
Due: none

docs: change Control-UI-Browser-Version to 0.9.1 (#AS-923)
  .gitlab-ci.yml
Due: none

docs: revert old jasmine example. change in a future step (#AS-923)
  .gitlab-ci.yml
  examples/askui-nodejs-base-example/package.json
  examples/askui-nodejs-base-example/specs/helpers/askui-helper.ts
  examples/askui-nodejs-base-example/specs/my-first-askui-test-suite.spec.ts
Due: examples:askui-nodejs-base-example:lint

docs: change docs, README, comments and spaces in code, package.lock.json (#AS-923)
  docs/docs/general/02-Getting Started/getting-started.md
  docs/docs/general/02-Getting Started/writing-your-first-test.md
  examples/askui-nodejs-base-example/package-lock.json
  packages/askui-nodejs/example_projects_templates/typescript_jest/jest.config.js
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/README.md
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/my-first-askui-test-suite.test.ts
Due: examples:askui-nodejs-base-example:lint, docs:build

revert: revert package-lock.json in example folder (#AS-923)
  examples/askui-nodejs-base-example/package-lock.json
Due: examples:askui-nodejs-base-example:lint

docs: change comment in test file and README (#AS-923)
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/README.md
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/my-first-askui-test-suite.test.ts
Due: none

docs: update docs for Jest example (#AS-923)
  docs/docs/general/02-Getting Started/getting-started.md
  docs/docs/general/02-Getting Started/writing-your-first-test.md
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/my-first-askui-test-suite.test.ts
Due: docs:build

docs: change of docs. update comment of example (#AS-923)
  docs/docs/general/02-Getting Started/writing-your-first-test.md
Due: docs:build

docs: combine two sentences in docs. how to execute test files (#AS-923)
  docs/docs/general/02-Getting Started/writing-your-first-test.md
Due: docs:build

docs: docs changes because of change in jest example (#AS-923)
  docs/docs/general/02-Getting Started/writing-your-first-test.md
Due: docs:build

chore: remove jamsine example. add jest example. little changes in jest example (#AS-923)
  examples/askui-nodejs-base-example/package-lock.json
  examples/askui-nodejs-base-example/package.json
  examples/askui-nodejs-base-example/specs/README.md
  examples/askui-nodejs-base-example/specs/helpers/askui-helper.ts
  examples/askui-nodejs-base-example/specs/my-first-askui-test-suite.spec.ts
  examples/askui-nodejs-base-example/specs/support/jasmine.json
  examples/askui-nodejs-base-example/test/README.md
  examples/askui-nodejs-base-example/test/helper/askui-helper.ts
  examples/askui-nodejs-base-example/test/jest.config.js
  examples/askui-nodejs-base-example/test/my-first-askui-test-suite.test.ts
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/helper/askui-helper.ts
Due: examples:askui-nodejs-base-example:lint

chore: change test run command (#AS-923)
  examples/askui-nodejs-base-example/package.json
Due: examples:askui-nodejs-base-example:lint

docs: run jest test file in example folder (#AS-923)
  examples/askui-nodejs-base-example/package.json
Due: examples:askui-nodejs-base-example:lint

test: change test file of jest example. import of helper class (#AS-923)
  examples/askui-nodejs-base-example/test/my-first-askui-test-suite.test.ts
Due: examples:askui-nodejs-base-example:lint

docs: add jest dependencies in package.json (#AS-923)
  examples/askui-nodejs-base-example/package.json
Due: examples:askui-nodejs-base-example:lint

test: change test script for jest (#AS-923)
  examples/askui-nodejs-base-example/package.json
Due: examples:askui-nodejs-base-example:lint

test: change export in example with jest (#AS-923)
  examples/askui-nodejs-base-example/test/helper/askui-helper.ts
  examples/askui-nodejs-base-example/test/my-first-askui-test-suite.test.ts
Due: examples:askui-nodejs-base-example:lint

ci: change control ui with browser container version to v0.10.0 (#AS-923)
  .gitlab-ci.yml
Due: none

test: add setUpenvironment for all jest tests. change example to run in the pipeline (#AS-923)
  .gitlab-ci.yml
  docs/docs/general/02-Getting Started/writing-your-first-test.md
  examples/askui-nodejs-base-example/test/helper/askui-helper.ts
  examples/askui-nodejs-base-example/test/helper/jest.setup.ts
  examples/askui-nodejs-base-example/test/my-first-askui-test-suite.test.ts
  packages/askui-nodejs/example_projects_templates/typescript_jest/jest.config.js
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/helper/askui-helper.ts
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/helper/jest.setup.ts
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/my-first-askui-test-suite.test.ts
Due: examples:askui-nodejs-base-example:lint, docs:build

test: changes in example jest test for pipeline (#AS-923)
  examples/askui-nodejs-base-example/test/helper/jest.setup.ts
  examples/askui-nodejs-base-example/test/jest.config.js
  examples/askui-nodejs-base-example/test/my-first-askui-test-suite.test.ts
Due: examples:askui-nodejs-base-example:lint

test: change jest example for pipeline (#AS-923)
  examples/askui-nodejs-base-example/.eslintrc.cjs
  examples/askui-nodejs-base-example/test/helper/jest.setup.ts
  examples/askui-nodejs-base-example/test/my-first-askui-test-suite.test.ts
Due: examples:askui-nodejs-base-example:lint

style: change comments and rm whitespaces in jest test example (#AS-923)
  examples/askui-nodejs-base-example/test/helper/jest.setup.ts
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/helper/jest.setup.ts
Due: examples:askui-nodejs-base-example:lint

chore(examples): change jest conf from js to ts (#AS-923)
  docs/docs/general/02-Getting Started/writing-your-first-test.md
  examples/askui-nodejs-base-example/package.json
  examples/askui-nodejs-base-example/test/jest.config.js
  examples/askui-nodejs-base-example/test/jest.config.ts
  packages/askui-nodejs/example_projects_templates/typescript_jest/jest.config.js
  packages/askui-nodejs/example_projects_templates/typescript_jest/jest.config.ts
Due: examples:askui-nodejs-base-example:lint, docs:build

chore(example): improve linting (#AS-923)
  examples/askui-nodejs-base-example/.eslintrc.cjs
  examples/askui-nodejs-base-example/test/helper/jest.setup.ts
Due: examples:askui-nodejs-base-example:lint

chore(example): fix typos in readme (#AS-923)
  examples/askui-nodejs-base-example/test/README.md
Due: examples:askui-nodejs-base-example:lint

build: remove jasmine + fresh npm install (#AS-923)
  examples/askui-nodejs-base-example/package-lock.json
  examples/askui-nodejs-base-example/package.json
Due: examples:askui-nodejs-base-example:lint

refactor: change the template example to the example test
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/README.md
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/helper/jest.setup.ts
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/jest.config.ts
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/my-first-askui-test-suite.test.ts
Due: none

docs: change docs for manual setup of example and installation of ts-node (#A-923)
  docs/docs/general/02-Getting Started/getting-started.md
  docs/docs/general/02-Getting Started/writing-your-first-test.md
Due: docs:build

docs: update docs for manual setup. description is shorter and simpler (#AS-923)
  docs/docs/general/02-Getting Started/writing-your-first-test.md
Due: docs:build

docs: change docs for manual use and change tsconfig file location in template (#AS-923)
  docs/docs/general/02-Getting Started/writing-your-first-test.md
  packages/askui-nodejs/example_projects_templates/typescript_jest/tsconfig.json
Due: docs:build

docs: update docs after testing realease version 2.3.0-next.0-AS-923-From-Jasmine-To-Jest3fa289da
  docs/docs/general/02-Getting Started/writing-your-first-test.md
Due: docs:build

chore: release 2.3.1-next.0 [skip-ci]
  CHANGELOG.md
  docs/package.json
  package-lock.json
  package.json
  packages/askui-nodejs/package.json
Due: docs:build

docs(readme): added logo for both color themes (#AS-673)
  README.md
  docs/static/img/askui_logo-horizontal_negative_rgb_thin.svg
  docs/static/img/askui_logo-horizontal_positive_rgb_thin.svg
Due: docs:build

docs(readme): some minor style changes (#AS-673)
  README.md
Due: none
