Repository askui/askui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: examples:askui-nodejs-base-example:lint, docs:build

Path conditions:
  examples:askui-nodejs-base-example:lint: any of: examples/askui-nodejs-base-example/**/*
  docs:build: any of: docs/**/*

fix: extend spellchecker dictionary
  docs/spellchecker-dictionary
Due: docs:build

Deploying to gh-pages from @ askui/askui@90d05631c999fa354ff7640bcbf86189e27079a4 🚀
  docs/0.2.2/search-index.json
  docs/0.2.3/search-index.json
  docs/0.2.6/search-index.json
  docs/0.2.7/search-index.json
  docs/next/search-index.json
Due: docs:build

test: add unittest for HttpClientGot
  package-lock.json
  packages/askui-nodejs/package.json
  packages/askui-nodejs/src/execution/ui-control-client.ts
  packages/askui-nodejs/src/lib/download-binaries.ts
  packages/askui-nodejs/src/lib/ui-controller-args.ts
  packages/askui-nodejs/src/lib/ui-controller-facade.ts
  packages/askui-nodejs/src/shared/proxy-agent-args.ts
  packages/askui-nodejs/src/utils/http/http-client-got.ts
  packages/askui-nodejs/src/utils/proxy/gloabl-agent-proxy.spec.ts
  packages/askui-nodejs/src/utils/proxy/hpagent-proxy.ts
  packages/askui-nodejs/src/utils/proxy/http-client-got-proxy.spec.ts
  packages/askui-nodejs/src/utils/proxy/proxy-agent.spec.ts
  packages/askui-nodejs/src/utils/proxy/proxy-and-hpagent.spec.ts
  packages/askui-nodejs/src/utils/proxy/proxy-utils.ts
  packages/askui-nodejs/src/utils/proxy/windows-proxy-function.spec.ts
Due: none

docs: adapt misspelling for proxy
  docs/docs/general/07-Troubleshooting/proxy.md
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/helper/jest.setup.ts
Due: docs:build

Update proxy-agent-args.ts
  packages/askui-nodejs/src/shared/proxy-agent-args.ts
Due: none

docs: remove todo
  examples/askui-nodejs-base-example/test/helper/jest.setup.ts
Due: examples:askui-nodejs-base-example:lint

docs: add gifs with an example for relational selectors under API
  docs/static/img/gif/above.gif
  docs/static/img/gif/below.gif
  docs/static/img/gif/contains.gif
  docs/static/img/gif/in.gif
  docs/static/img/gif/leftOf.gif
  docs/static/img/gif/nearestTo.gif
  docs/static/img/gif/rightOf.gif
Due: docs:build

chore: try to rebase
  docs/docs/general/07-Troubleshooting/proxy.md
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/helper/jest.setup.ts
  packages/askui-nodejs/package.json
  packages/askui-nodejs/src/execution/ui-control-client.ts
  packages/askui-nodejs/src/lib/ui-controller-facade.ts
  packages/askui-nodejs/src/shared/proxy-agent-args.ts
  packages/askui-nodejs/src/utils/proxy/http-client-got-proxy.spec.ts
  packages/askui-nodejs/src/utils/proxy/proxy-and-hpagent.spec.ts
  packages/askui-nodejs/src/utils/proxy/proxy-builder.spec.ts
  packages/askui-nodejs/src/utils/proxy/proxy-builder.ts
  packages/askui-nodejs/test/proxy/certs/cert_proxy.pem
  packages/askui-nodejs/test/proxy/certs/cert_server.pem
  packages/askui-nodejs/test/proxy/certs/cert_server_single.csr
  packages/askui-nodejs/test/proxy/certs/key_proxy.pem
  packages/askui-nodejs/test/proxy/certs/key_server.pem
  packages/askui-nodejs/test/proxy/certs/rootCA.crt
  packages/askui-nodejs/test/proxy/certs/rootCA.key
  packages/askui-nodejs/test/proxy/certs/unit_test.pem
  packages/askui-nodejs/test/proxy/proxy-utils.ts
  packages/askui-nodejs/tsconfig.json
Due: docs:build

docs(proxy): fix spelling mistakes
  docs/docs/general/07-Troubleshooting/proxy.md
  docs/spellchecker-dictionary
  examples/askui-nodejs-base-example/test/helper/jest.setup.ts
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/helper/jest.setup.ts
  packages/askui-nodejs/src/lib/download-binaries.ts
Due: examples:askui-nodejs-base-example:lint, docs:build

refactor(proxy): fix review comments with typings
  packages/askui-nodejs/src/execution/ui-controller-client-interface.ts
  packages/askui-nodejs/src/shared/proxy-agent-args.ts
  packages/askui-nodejs/src/utils/http/http-client-got.ts
  packages/askui-nodejs/src/utils/proxy/proxy-and-hpagent.spec.ts
  packages/askui-nodejs/src/utils/proxy/proxy-builder.spec.ts
  packages/askui-nodejs/test/proxy/proxy-utils.ts
Due: none

build(jest): introduce jest tsconfig and migrated jest config
  packages/askui-nodejs/jest.config.js
  packages/askui-nodejs/tsconfig.jest.json
  packages/askui-nodejs/tsconfig.json
Due: none

refactor(askui-nodejs): fix typos, rm obsolete code, renamings etc
  docs/docs/general/07-Troubleshooting/proxy.md
  docs/spellchecker-dictionary
  packages/askui-nodejs/jest.config.js
  packages/askui-nodejs/src/execution/ui-control-client.ts
  packages/askui-nodejs/src/execution/ui-controller-client-interface.ts
  packages/askui-nodejs/src/lib/ui-controller-args.ts
  packages/askui-nodejs/src/lib/ui-controller-facade.ts
  packages/askui-nodejs/src/shared/proxy-agent-args.ts
  packages/askui-nodejs/src/utils/proxy/proxy-and-hpagent.spec.ts
  packages/askui-nodejs/src/utils/proxy/proxy-builder.spec.ts
  packages/askui-nodejs/src/utils/proxy/proxy-builder.ts
  packages/askui-nodejs/test/proxy/proxy-utils.ts
  packages/askui-nodejs/test/proxy/proxy.d.ts
  packages/askui-nodejs/tsconfig.test.json
Due: docs:build

Deploying to gh-pages from @ askui/askui@fb68cae065090b1dbf08e063d4778f5fce2e03fc 🚀
  docs/0.1.6/search-index.json
  docs/0.2.1/search-index.json
  docs/0.2.2/search-index.json
  docs/0.2.7/search-index.json
  docs/0.3.2/search-index.json
  docs/0.4.0/search-index.json
  docs/next/search-index.json
  img/gif/above.gif
  img/gif/below.gif
  img/gif/contains.gif
  img/gif/in.gif
  img/gif/leftOf.gif
  img/gif/nearestTo.gif
  img/gif/rightOf.gif
  search-index.json
Due: docs:build

docs: fix missing function in Table of Contents
  docs/versioned_docs/version-0.2.3/api/01-API/table-of-contents.md
  docs/versioned_docs/version-0.2.4/api/01-API/table-of-contents.md
  docs/versioned_docs/version-0.2.5/api/01-API/table-of-contents.md
  docs/versioned_docs/version-0.2.6/api/01-API/table-of-contents.md
  docs/versioned_docs/version-0.2.7/api/01-API/table-of-contents.md
  docs/versioned_docs/version-0.3.1/api/01-API/table-of-contents.md
  docs/versioned_docs/version-0.3.2/api/01-API/table-of-contents.md
  docs/versioned_docs/version-0.4.0/api/01-API/table-of-contents.md
  docs/versioned_docs/version-0.5.0/api/01-API/table-of-contents.md
Due: docs:build

docs: fix missing function in Table of Contents
  docs/docs/api/01-API/table-of-contents.md
Due: docs:build

feat add client side resize flag
  packages/askui-nodejs/src/execution/config-error.ts
  packages/askui-nodejs/src/execution/inference-client.ts
  packages/askui-nodejs/src/execution/ui-control-client.ts
  packages/askui-nodejs/src/execution/ui-controller-client-interface.ts
Due: none

dics: add noew tutorial android-search-in-browser
  docs/docs/general/06-Tutorials/android-search-in-browser.md
  docs/docs/general/06-Tutorials/images/annotation-chrome.png
  docs/docs/general/06-Tutorials/images/annotation.png
  docs/docs/general/06-Tutorials/images/chrome-main.png
  docs/docs/general/06-Tutorials/images/search-result.png
Due: docs:build

docs: add conclusion to the new tutorial
  docs/docs/general/06-Tutorials/android-search-in-browser.md
Due: docs:build

docs: add docs for the new resize param
  docs/docs/api/07-Configuration/askui-ui-control-client.md
  docs/spellchecker-dictionary
  packages/askui-nodejs/src/execution/ui-controller-client-interface.ts
Due: docs:build

style: fix spelling
  docs/docs/api/07-Configuration/askui-ui-control-client.md
  packages/askui-nodejs/src/execution/inference-client.ts
  packages/askui-nodejs/src/execution/ui-controller-client-interface.ts
Due: docs:build

build: add inquirer to the package json
  package-lock.json
  packages/askui-nodejs/package.json
Due: none

docs: onboarding improvements
  docs/docs/general/02-Getting Started/write-your-first-automation.md
  docs/static/img/gif/first_test_execution.gif
  docs/versioned_docs/version-0.3.1/general/02-Getting Started/write-your-first-automation.md
  docs/versioned_docs/version-0.3.2/general/02-Getting Started/write-your-first-automation.md
  docs/versioned_docs/version-0.4.0/general/02-Getting Started/write-your-first-automation.md
  docs/versioned_docs/version-0.5.0/general/02-Getting Started/write-your-first-automation.md
Due: docs:build

docs: add gifs: moveMouseRelativelyTo, typeIn, swipe
  docs/static/img/gif/moveMouseRelativelyTo.gif
  docs/static/img/gif/swipe.gif
  docs/static/img/gif/typeIn.gif
Due: docs:build

docs: changed new tutorial android web searching
  docs/docs/general/06-Tutorials/android-search-in-browser.md
  docs/docs/general/06-Tutorials/images/annotation.png
Due: docs:build

docs: documentation for jest exit error. resolve spellchecks warning (#AS-1530)
  docs/docs/general/06-Tutorials/android-search-in-browser.md
  docs/docs/general/07-Troubleshooting/index.md
  docs/docs/general/07-Troubleshooting/jest.md
Due: docs:build

docs: add windows section for askui controller termination (#AS-1530)
  docs/docs/general/07-Troubleshooting/index.md
  docs/docs/general/07-Troubleshooting/jest.md
  docs/docs/general/07-Troubleshooting/windows.md
Due: docs:build

docs: fix spelling mistake in scroll command docs; Add button filter docs
  docs/docs/api/02-Commands/scroll.md
  docs/docs/api/03-Filters/button.md
  docs/versioned_docs/version-0.2.7/api/02-Commands/scroll.md
  docs/versioned_docs/version-0.2.7/api/03-Filters/button.md
  docs/versioned_docs/version-0.3.1/api/02-Commands/scroll.md
  docs/versioned_docs/version-0.3.1/api/03-Filters/button.md
  docs/versioned_docs/version-0.3.2/api/02-Commands/scroll.md
  docs/versioned_docs/version-0.3.2/api/03-Filters/button.md
  docs/versioned_docs/version-0.4.0/api/02-Commands/scroll.md
  docs/versioned_docs/version-0.4.0/api/03-Filters/button.md
  docs/versioned_docs/version-0.5.0/api/02-Commands/scroll.md
  docs/versioned_docs/version-0.5.0/api/03-Filters/button.md
  docs/versioned_docs/version-0.6.0/api/02-Commands/scroll.md
  docs/versioned_docs/version-0.6.0/api/03-Filters/button.md
Due: docs:build

feat(dsl): added the reduced class set
  packages/askui-nodejs/src/execution/dsl.ts
Due: none

docs: final refactorings
  docs/versioned_docs/version-0.2.7/api/04-Relations/above.md
  docs/versioned_docs/version-0.2.7/api/04-Relations/below.md
  docs/versioned_docs/version-0.2.7/api/04-Relations/contains.md
  docs/versioned_docs/version-0.2.7/api/04-Relations/in.md
  docs/versioned_docs/version-0.2.7/api/04-Relations/leftof.md
  docs/versioned_docs/version-0.2.7/api/04-Relations/nearestto.md
  docs/versioned_docs/version-0.2.7/api/04-Relations/rightof.md
  docs/versioned_docs/version-0.6.0/api/04-Relations/above.md
  docs/versioned_docs/version-0.6.0/api/04-Relations/below.md
  docs/versioned_docs/version-0.6.0/api/04-Relations/contains.md
  docs/versioned_docs/version-0.6.0/api/04-Relations/in.md
  docs/versioned_docs/version-0.6.0/api/04-Relations/leftof.md
  docs/versioned_docs/version-0.6.0/api/04-Relations/nearestto.md
  docs/versioned_docs/version-0.6.0/api/04-Relations/rightof.md
Due: docs:build
