Repository askui/askui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: examples:askui-nodejs-base-example:lint, docs:build

examples:askui-nodejs-base-example:lint:
  stage: quality
  before_script:
  - - default
    - before_script
  - cd examples/askui-nodejs-base-example
  ...

docs:build:
  stage: build-docs
  variables:
    DOCS_BASE_URL: /mvp/askui/
    WORKDIR: docs
  script:
  - npm run build
  artifacts:
    paths:
    - ${WORKDIR}/dist

docs: update tabel of contents for scrollinside (#AS-925)
  docs/versioned_docs/version-0.1.6/api/01-API/table-of-contents.md
Due: docs:build

docs(docu): documented jest config (#AS-1061)
  docs/docs/general/02-Getting Started/writing-your-first-test.md
  docs/docs/general/03-Best Practice/configure_test_framework.md
Due: docs:build

docs(docu): added warning about old config name (#AS-1061)
  docs/docs/general/03-Best Practice/configure_test_framework.md
Due: docs:build

refactor: rename the controlyourui-server to askuiUiController (#AS-1034)
  examples/askui-nodejs-base-example/test/helper/jest.setup.ts
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/helper/jest.setup.ts
  packages/askui-nodejs/src/execution/client-interface.ts
  packages/askui-nodejs/src/execution/client.ts
  packages/askui-nodejs/src/execution/control-your-ui-client.ts
  packages/askui-nodejs/src/lib/askui-control-server.ts
  packages/askui-nodejs/src/lib/control-ui-server-darwin.ts
  packages/askui-nodejs/src/lib/control-ui-server-facade.ts
  packages/askui-nodejs/src/lib/download-binaries.ts
  packages/askui-nodejs/src/lib/index.ts
  packages/askui-nodejs/src/main.ts
Due: examples:askui-nodejs-base-example:lint

docs: update the docs (#AS-1034)
  docs/docs/api/07-configuration.md
  docs/docs/general/02-Getting Started/writing-your-first-test.md
  docs/docs/general/04-Continuous Integration/gitlab-ci.md
  docs/docs/general/04-Continuous Integration/local-docker.md
  docs/docs/general/05-Tooling/annotate-interactively.md
  examples/askui-nodejs-base-example/Readme.md
Due: examples:askui-nodejs-base-example:lint, docs:build

docs: correct askui UI Controller config docs and old askuicontrolserver docs (#AS-979)
  docs/docs/api/06-Configuration/askuicontrolserver.md
  docs/versioned_docs/version-0.1.6/api/06-Configuration/askui-ui-controller.md
Due: docs:build

docs: troubleshooting page. chapters for wayland and libfuse2 (#AS-1007)
  docs/versioned_docs/version-0.1.6/general/02-Getting Started/getting-started.md
  docs/versioned_docs/version-0.1.6/general/07-Troubleshooting/askuicontroller-starting-problems.md
Due: docs:build

feat: checks for wayland ask libfuse2 (#AS-1007)
  packages/askui-nodejs/src/lib/control-ui-server-facade.ts
Due: none

refactor: rename the files based on the new product name (#AS-1034)
  packages/askui-nodejs/src/execution/askui-inference-api.ts
  packages/askui-nodejs/src/execution/askui-ui-controller-client.ts
  packages/askui-nodejs/src/execution/client.ts
  packages/askui-nodejs/src/execution/execution-runtime.ts
  packages/askui-nodejs/src/lib/askui-ui-controller-server-args.spec.ts
  packages/askui-nodejs/src/lib/askui-ui-controller-server-args.ts
  packages/askui-nodejs/src/lib/askui-ui-controller-server-darwin.ts
  packages/askui-nodejs/src/lib/askui-ui-controller-server-facade.ts
  packages/askui-nodejs/src/lib/askui-ui-controller-server-linux.ts
  packages/askui-nodejs/src/lib/askui-ui-controller-server-win32.ts
  packages/askui-nodejs/src/lib/askui-ui-controller-server.ts
  packages/askui-nodejs/src/lib/control-ui-server-win32.ts
  packages/askui-nodejs/src/lib/index.ts
Due: none

docs: update docs for askui UI Controller configuration options (#AS-979)
  docs/docs/api/06-Configuration/askui-ui-controller.md
  docs/docs/api/06-Configuration/select-monitor.png
  docs/versioned_docs/version-0.1.6/api/07-configuration.md
Due: docs:build

refactor: rename the classes according to the new product name (#AS-1034)
  packages/askui-nodejs/src/execution/askui-inference-api.ts
  packages/askui-nodejs/src/execution/askui-ui-controller-client.ts
  packages/askui-nodejs/src/execution/client-error.ts
  packages/askui-nodejs/src/execution/client-interface.ts
  packages/askui-nodejs/src/execution/client.ts
  packages/askui-nodejs/src/execution/execution-runtime.ts
Due: none

docs: make text more precise
  docs/docs/api/06-Configuration/askui-ui-controller.md
Due: docs:build

refactor: small changes (#AS-1034)
  packages/askui-nodejs/src/execution/askui-ui-controller-client.ts
  packages/askui-nodejs/src/lib/askui-ui-controller-server-args.ts
  packages/askui-nodejs/src/lib/askui-ui-controller-server-darwin.ts
  packages/askui-nodejs/src/lib/askui-ui-controller-server-facade.ts
  packages/askui-nodejs/src/lib/askui-ui-controller-server-linux.ts
  packages/askui-nodejs/src/lib/askui-ui-controller-server-win32.ts
  packages/askui-nodejs/src/lib/askui-ui-controller-server.ts
  packages/askui-nodejs/src/lib/download-binaries.ts
Due: none

refactor: major renaming (#AS-1034)
  docs/docs/api/06-Configuration/askui-ui-controller.md
  docs/docs/general/02-Getting Started/writing-your-first-test.md
  docs/docs/general/04-Continuous Integration/askui-ui-controller-docker-images.md
  docs/docs/general/04-Continuous Integration/gitlab-ci.md
  examples/askui-nodejs-base-example/Readme.md
  examples/askui-nodejs-base-example/test/helper/jest.setup.ts
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/helper/jest.setup.ts
  packages/askui-nodejs/src/execution/askui-ui-controller-client.ts
  packages/askui-nodejs/src/execution/client-interface.ts
  packages/askui-nodejs/src/execution/client.ts
  packages/askui-nodejs/src/lib/askui-ui-controller-server.ts
  packages/askui-nodejs/src/lib/index.ts
  packages/askui-nodejs/src/main.ts
Due: examples:askui-nodejs-base-example:lint, docs:build

chore: prestartChecks test implementation (#AS-1007)
  docs/docs/general/02-Getting Started/getting-started.md
  docs/docs/general/07-Troubleshooting/askui-ui-controller-starting-problems.md
  packages/askui-nodejs/src/lib/control-ui-server-facade.ts
  packages/askui-nodejs/src/lib/control-ui-server-linux.ts
Due: docs:build

docs: documentation of askui client config options (#AS-979)
  docs/docs/api/06-Configuration/askui-ui-controller-client.md
  docs/docs/api/06-Configuration/askui-ui-controller.md
  packages/askui-nodejs/src/execution/index.ts
  packages/askui-nodejs/src/main.ts
Due: docs:build

docs: correct mistakes in askui client configuration documentation (#AS-979)
  docs/docs/api/06-Configuration/askui-ui-controller-client.md
Due: docs:build

refactor: rename the askuiControllerServerUrl to uiControlServerUrl (#AS-1034)
  docs/docs/general/04-Continuous Integration/gitlab-ci.md
  examples/askui-nodejs-base-example/Readme.md
  examples/askui-nodejs-base-example/test/helper/jest.setup.ts
  packages/askui-nodejs/src/execution/askui-ui-controller-client.ts
  packages/askui-nodejs/src/execution/client-interface.ts
  packages/askui-nodejs/src/execution/client.ts
Due: examples:askui-nodejs-base-example:lint, docs:build

refactor: rename inferenceApi to InferenceClient (#AS-1034)
  packages/askui-nodejs/src/execution/askui-inference-api.ts
  packages/askui-nodejs/src/execution/client-interface.ts
  packages/askui-nodejs/src/execution/client.ts
  packages/askui-nodejs/src/execution/execution-runtime.ts
Due: none

refactor: rename the client and server (#AS-1034)
  packages/askui-nodejs/src/execution/client.ts
  packages/askui-nodejs/src/execution/index.ts
  packages/askui-nodejs/src/lib/askui-ui-controller-server.ts
  packages/askui-nodejs/src/lib/index.ts
  packages/askui-nodejs/src/main.ts
Due: none

docs: in-code codumentation for arguments of askuiClient and askui UI Controller server (#AS-979)
  docs/docs/api/06-Configuration/askui-ui-controller-client.md
  packages/askui-nodejs/src/execution/client-interface.ts
  packages/askui-nodejs/src/lib/control-ui-server-args.ts
Due: docs:build

docs: update the docs with the new client and server names (#AS-1034)
  docs/docs/api/06-Configuration/askui-ui-controller.md
  docs/docs/general/02-Getting Started/writing-your-first-test.md
  docs/docs/general/04-Continuous Integration/askui-ui-controller-docker-images.md
  docs/docs/general/04-Continuous Integration/gitlab-ci.md
  examples/askui-nodejs-base-example/test/helper/jest.setup.ts
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/helper/jest.setup.ts
Due: examples:askui-nodejs-base-example:lint, docs:build

docs: rm old doc (#AS-1034)
  docs/docs/api/07-configuration.md
Due: docs:build

build: add machine-id (#AS-993)
  packages/askui-nodejs/package-lock.json
  packages/askui-nodejs/package.json
Due: none

feat: check for wayland anad libfuse2 (#AS-1007)
  examples/askui-nodejs-base-example/package.json
  examples/askui-nodejs-base-example/test/jest.config.ts
  packages/askui-nodejs/src/lib/control-ui-server-facade.ts
  packages/askui-nodejs/src/lib/control-ui-server-linux.ts
  packages/askui-nodejs/src/lib/libfuse-error.ts
  packages/askui-nodejs/src/lib/wayland-error.ts
Due: examples:askui-nodejs-base-example:lint

feat: add the lib environment information to the headers (#AS-993)
  packages/askui-nodejs/src/execution/client.ts
  packages/askui-nodejs/src/utils/analytics/analytics-formater-interface.ts
  packages/askui-nodejs/src/utils/analytics/analytics-formater.ts
  packages/askui-nodejs/src/utils/analytics/index.ts
  packages/askui-nodejs/src/utils/analytics/user-identifier-interface.ts
  packages/askui-nodejs/src/utils/analytics/user-identifier.ts
  packages/askui-nodejs/src/utils/http/headers-interface.ts
  packages/askui-nodejs/src/utils/http/http-client-got.ts
Due: none

build: fresh install (#AS-993)
  package-lock.json
Due: none

docs: changes for configuration documentation of askui UI Controller and askui client (#AS-979)
  docs/docs/api/06-Configuration/askui-client.md
  docs/docs/api/06-Configuration/askui-ui-controller.md
  packages/askui-nodejs/src/execution/client-interface.ts
  packages/askui-nodejs/src/lib/control-ui-server-args.ts
Due: docs:build

refactor: small changes (#AS-993)
  packages/askui-nodejs/src/utils/http/http-client-got.ts
  packages/askui-nodejs/src/utils/http/request-headers.ts
Due: none

feat: check for wayland and libfuse2. change command line to check for wayland (#AS-1007)
  packages/askui-nodejs/src/lib/control-ui-server-linux.ts
Due: none

feat: change require child process in preStartChecks method (#AS-1007)
  packages/askui-nodejs/src/lib/control-ui-server-linux.ts
Due: none

docs: askui Client config documentation. update credentials section (#AS-979)
  docs/docs/api/06-Configuration/askui-client.md
  docs/docs/api/06-Configuration/askui-ui-controller.md
  packages/askui-nodejs/src/execution/client-interface.ts
Due: docs:build

docs: changes to configuration docs of askui UI Controller and askui Client (#AS-979)
  docs/docs/api/06-Configuration/askui-client.md
  docs/docs/api/06-Configuration/askui-ui-controller.md
Due: docs:build

fix: check if dpkg command is possible instead of ubuntu installation status (#AS-1007)
  packages/askui-nodejs/src/lib/control-ui-server-linux.ts
Due: none

refactor: rename askui control server in the nodejs package folder (#AS-1034)
  packages/askui-nodejs/src/lib/askui-control-server.ts
  packages/askui-nodejs/src/lib/control-ui-server-win32.ts
  packages/askui-nodejs/src/lib/download-binaries.ts
  packages/askui-nodejs/src/lib/index.ts
  packages/askui-nodejs/src/lib/logger.ts
  packages/askui-nodejs/src/lib/ui-controller-args.spec.ts
  packages/askui-nodejs/src/lib/ui-controller-args.ts
  packages/askui-nodejs/src/lib/ui-controller-darwin.ts
  packages/askui-nodejs/src/lib/ui-controller-facade.ts
  packages/askui-nodejs/src/lib/ui-controller-linux.ts
  packages/askui-nodejs/src/lib/ui-controller-win32.ts
  packages/askui-nodejs/src/lib/ui-controller.ts
  packages/askui-nodejs/src/main.ts
Due: none

refactor: rename askuiClient to uiControlClient (#AS-1034)
  packages/askui-nodejs/src/execution/client-error.ts
  packages/askui-nodejs/src/execution/execution-runtime.ts
  packages/askui-nodejs/src/execution/index.ts
  packages/askui-nodejs/src/execution/inference-client.ts
  packages/askui-nodejs/src/execution/ui-control-client-error.ts
  packages/askui-nodejs/src/execution/ui-control-client.ts
  packages/askui-nodejs/src/execution/ui-controller-client-connection-state.ts
  packages/askui-nodejs/src/execution/ui-controller-client-interface.ts
  packages/askui-nodejs/src/execution/ui-controller-client.ts
  packages/askui-nodejs/src/main.ts
Due: none

refactor: update the template project (#AS-1034)
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/helper/jest.setup.ts
Due: none

Path conditions:
  examples:askui-nodejs-base-example:lint: any of: examples/askui-nodejs-base-example/**/*
  docs:build: any of: docs/**/*
