Repository askui/askui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: examples:askui-nodejs-base-example:lint, docs:build

examples:askui-nodejs-base-example:lint:
  stage: quality
  before_script:
  - - default
    - before_script
  - cd examples/askui-nodejs-base-example
  ...

docs:build:
  stage: build-docs
  variables:
    DOCS_BASE_URL: /mvp/askui/
    WORKDIR: docs
  script:
  - npm run build
  artifacts:
    paths:
    - ${WORKDIR}/dist

refactor: rm email from credentials (#AS-1137)
  docs/docs/api/06-Configuration/askui-ui-control-client.md
  packages/askui-nodejs/src/execution/read-environment-credentials.spec.ts
  packages/askui-nodejs/src/execution/read-environment-credentials.ts
  packages/askui-nodejs/src/utils/http/credentials.spec.ts
  packages/askui-nodejs/src/utils/http/credentials.ts
Due: docs:build

refactor: aS-1137 (#AS-1137)
  packages/askui-nodejs/src/execution/inference-client.ts
  packages/askui-nodejs/src/execution/ui-control-client.ts
Due: none

Update packages/askui-nodejs/src/execution/inference-client.ts
  packages/askui-nodejs/src/execution/inference-client.ts
Due: none

refactor: implement review remarks (#AS-1137)
  packages/askui-nodejs/src/execution/ui-control-client.ts
  packages/askui-nodejs/src/utils/http/credentials.spec.ts
  packages/askui-nodejs/src/utils/http/credentials.ts
  packages/askui-nodejs/src/utils/http/http-client-got.ts
Due: none

refactor: mv credentials args (#AS-1137)
  packages/askui-nodejs/src/execution/credentials-args.ts
  packages/askui-nodejs/src/execution/read-environment-credentials.ts
  packages/askui-nodejs/src/execution/ui-controller-client-interface.ts
  packages/askui-nodejs/src/utils/http/credentials.ts
Due: none

refactor: edit uiControllerUrl default value (#AS-1146)
  docs/docs/api/06-Configuration/askui-ui-control-client.md
  docs/docs/general/04-Continuous Integration/askui-ui-controller-docker-images.md
  docs/docs/general/04-Continuous Integration/gitlab-ci.md
  examples/askui-nodejs-base-example/test/helper/jest.setup.ts
  packages/askui-nodejs/src/execution/ui-control-client.ts
  packages/askui-nodejs/src/execution/ui-controller-client-interface.ts
Due: examples:askui-nodejs-base-example:lint, docs:build

docs(troubleshooting): add ipv6 how to (#AS-1146)
  docs/docs/general/07-Troubleshooting/ipv6.md
  docs/docs/general/07-Troubleshooting/linux.md
  docs/docs/general/07-Troubleshooting/mac-os.md
Due: docs:build

fixup! docs(troubleshooting): add ipv6 how to (#AS-1146)
  docs/docs/general/02-Getting Started/getting-started.md
  docs/docs/general/07-Troubleshooting/index.md
  packages/askui-nodejs/README.md
  packages/askui-nodejs/src/lib/ui-controller-facade.ts
  packages/askui-nodejs/src/lib/ui-controller-linux.ts
Due: docs:build

feat(dsl): add withTextRegex filter (#AS-1202)
  docs/docs/api/03-Filters/withtextregex.md
  packages/askui-nodejs/src/execution/dsl.ts
Due: docs:build

docs: add a warning (arm not supported) to the ui-controller docker image (#AS-777)
  docs/docs/general/04-Continuous Integration/askui-ui-controller-docker-images.md
  docs/versioned_docs/version-0.1.6/general/04-Continuous Integration/askui-ui-controller-docker-images.md
  docs/versioned_docs/version-0.2.0/general/04-Continuous Integration/askui-ui-controller-docker-images.md
  docs/versioned_docs/version-0.2.1/general/04-Continuous Integration/askui-ui-controller-docker-images.md
  docs/versioned_docs/version-0.2.2/general/04-Continuous Integration/askui-ui-controller-docker-images.md
Due: docs:build

docs: rm scrollUntil from docs
  docs/docs/api/01-API/table-of-contents.md
  docs/docs/api/02-Commands/scrolluntil.md
  docs/versioned_docs/version-0.2.0/api/01-API/table-of-contents.md
  docs/versioned_docs/version-0.2.0/api/02-Commands/scrolluntil.md
  docs/versioned_docs/version-0.2.1/api/01-API/table-of-contents.md
  docs/versioned_docs/version-0.2.1/api/02-Commands/scrolluntil.md
  docs/versioned_docs/version-0.2.2/api/01-API/table-of-contents.md
  docs/versioned_docs/version-0.2.2/api/02-Commands/scrolluntil.md
Due: docs:build

Update CHANGELOG - Make release new release entry consistent to other entries
  CHANGELOG.md
Due: none

refactor: make the error more readble for the user (#AS-1316)
  packages/askui-nodejs/src/execution/dsl.ts
  packages/askui-nodejs/src/execution/execution-runtime.ts
  packages/askui-nodejs/src/execution/seperator.ts
  packages/askui-nodejs/src/execution/ui-control-client.ts
Due: none

refactor: make the error more readable (#AS-1316)
  packages/askui-nodejs/src/utils/http/custom-errors/index.ts
Due: none

refactor: implement review remarks (#AS-1316)
  packages/askui-nodejs/src/execution/ui-control-client.ts
Due: none

refactor: merge separator enum to the dsl (#AS-1316)
  packages/askui-nodejs/src/execution/dsl.ts
  packages/askui-nodejs/src/execution/seperator.ts
  packages/askui-nodejs/src/execution/ui-control-client.ts
Due: none

chore: fix dep vulnerabilities
  package-lock.json
Due: none

docs: fix installation instructions
  docs/docs/general/02-Getting Started/getting-started.md
Due: docs:build

docs: remove obsolete jasmine mentionings
  docs/docs/general/03-Best Practice/configure_test_framework.md
  docs/docs/general/06-Tutorials/shop-demo.md
  docs/docs/general/06-Tutorials/spotify-tutorial.md
Due: docs:build

Create dependabot.yml
  .github/dependabot.yml
Due: none

chore: dependency upgrades
  .release-it.json
  docs/package.json
  examples/askui-nodejs-base-example/package.json
  package-lock.json
  package.json
  packages/askui-nodejs/package.json
Due: examples:askui-nodejs-base-example:lint, docs:build

fix(askui-nodejs): connect to ui controller on mac
  docs/docs/general/07-Troubleshooting/ipv6.md
  docs/docs/general/07-Troubleshooting/mac-os.md
  packages/askui-nodejs/src/execution/ui-control-client.ts
  packages/askui-nodejs/src/lib/ui-controller-darwin.ts
Due: docs:build

Path conditions:
  examples:askui-nodejs-base-example:lint: any of: examples/askui-nodejs-base-example/**/*
  docs:build: any of: docs/**/*
