Repository askui/askui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: examples:askui-nodejs-base-example:lint, docs:build

examples:askui-nodejs-base-example:lint:
  stage: quality
  before_script:
  - - default
    - before_script
  - cd examples/askui-nodejs-base-example
  ...

docs:build:
  stage: build-docs
  variables:
    DOCS_BASE_URL: /mvp/askui/
    WORKDIR: docs
  script:
  - npm run build
  artifacts:
    paths:
    - ${WORKDIR}/dist

feat: implement first proxy
  packages/askui-nodejs/package.json
  packages/askui-nodejs/src/utils/proxy/certs/cert_proxy.pem
  packages/askui-nodejs/src/utils/proxy/certs/cert_server.pem
  packages/askui-nodejs/src/utils/proxy/certs/cert_server_single.csr
  packages/askui-nodejs/src/utils/proxy/certs/key_proxy.pem
  packages/askui-nodejs/src/utils/proxy/certs/key_server.pem
  packages/askui-nodejs/src/utils/proxy/certs/rootCA.crt
  packages/askui-nodejs/src/utils/proxy/certs/rootCA.key
  packages/askui-nodejs/src/utils/proxy/certs/unit_test.pem
  packages/askui-nodejs/src/utils/proxy/http-proxy-and-global-agent.spec.ts
  packages/askui-nodejs/src/utils/proxy/http-proxy-and-hpagent.spec.ts
  packages/askui-nodejs/src/utils/proxy/proxy-and-hpagent.spec.ts
  packages/askui-nodejs/src/utils/proxy/proxy-utils.ts
Due: none

feat(proxy): cleanup old proxy implementations
  packages/askui-nodejs/package-lock.json
  packages/askui-nodejs/package.json
  packages/askui-nodejs/src/utils/proxy/http-proxy-and-global-agent.spec.ts
  packages/askui-nodejs/src/utils/proxy/http-proxy-and-hpagent.spec.ts
  packages/askui-nodejs/src/utils/proxy/proxy-and-hpagent.spec.ts
  packages/askui-nodejs/src/utils/proxy/proxy-utils.ts
Due: none

refactor: remove TODO from example-projects-templates example test
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/my-first-askui-test-suite.test.ts
Due: none

feat(proxy): implement proxy configuration in HttpClient and in downloadBinaries
  docs/docs/general/07-Troubleshooting/proxy.md
  examples/askui-nodejs-base-example/test/helper/jest.setup.ts
  package-lock.json
  packages/askui-nodejs/package.json
  packages/askui-nodejs/src/execution/ui-control-client.ts
  packages/askui-nodejs/src/execution/ui-controller-client-interface.ts
  packages/askui-nodejs/src/lib/download-binaries.ts
  packages/askui-nodejs/src/lib/ui-controller-args.ts
  packages/askui-nodejs/src/shared/proxy-agent-args.ts
  packages/askui-nodejs/src/utils/http/http-client-got.ts
  packages/askui-nodejs/src/utils/proxy/proxy-and-hpagent.spec.ts
Due: examples:askui-nodejs-base-example:lint, docs:build

refactor: use correct typecast in copy-example-projects.ts
  packages/askui-nodejs/src/lib/copy-example-project.ts
Due: none

docs: prerequisite gets an info admonition; Hide explanation of dependencies in a detail block
  docs/docs/general/02-Getting Started/getting-started.md
Due: docs:build

docs: bump version of Docusaurus to 2.2.0
  docs/package.json
  package-lock.json
Due: docs:build

docs: add new tutorial setup-android
  docs/docs/general/06-Tutorials/images/android-sdk-tools.png
  docs/docs/general/06-Tutorials/images/device-created.png
  docs/docs/general/06-Tutorials/images/login_overlap.png
  docs/docs/general/06-Tutorials/images/more-action.png
  docs/docs/general/06-Tutorials/images/virtual-device-configuration.png
  docs/docs/general/06-Tutorials/setup-android.md
Due: docs:build

docs: add spellchecker for docs (Only next version is scanned)
  .husky/pre-commit
  docs/.spellcheckerrc.json
  docs/docs/api/02-Commands/swipe.md
  docs/docs/api/03-Filters/withtextregex.md
  docs/docs/general/01-Introduction/why-askui.md
  docs/docs/general/02-Getting Started/getting-started.md
  docs/docs/general/03-Best Practice/speed_up_execution.md
  docs/docs/general/04-Continuous Integration/askui-ui-controller-docker-images.md
  docs/docs/general/06-Tutorials/google-cat-search.md
  docs/docs/general/06-Tutorials/shop-demo.md
  docs/docs/general/06-Tutorials/spotify-tutorial.md
  docs/docs/general/06-Tutorials/zip-images-upload-googledrive-windows.md
  docs/docs/general/07-Troubleshooting/index.md
  docs/docs/general/07-Troubleshooting/ipv6.md
  docs/docs/general/07-Troubleshooting/linux.md
  docs/docs/general/07-Troubleshooting/mac-os.md
  docs/docs/general/08-askui User Portal/token.md
  docs/package.json
  docs/spellchecker-dictionary
  package-lock.json
Due: docs:build

docs: add paragraph in README on how to run the spellchecker manually
  docs/README.md
Due: docs:build

feat(proxy): add proxy documentation
  docs/docs/general/07-Troubleshooting/index.md
  docs/docs/general/07-Troubleshooting/proxy.md
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/helper/jest.setup.ts
  packages/askui-nodejs/src/execution/ui-control-client.ts
  packages/askui-nodejs/src/utils/proxy/proxy-and-hpagent.spec.ts
Due: docs:build

feat(proxy): fix proxyAgents are not passed through got download stream for binary
  docs/docs/general/07-Troubleshooting/proxy.md
  packages/askui-nodejs/src/lib/ui-controller-facade.ts
Due: docs:build

docs: correct spelling for macOS
  docs/docs/general/07-Troubleshooting/index.md
  docs/docs/general/07-Troubleshooting/ipv6.md
  docs/docs/general/07-Troubleshooting/mac-os.md
  docs/spellchecker-dictionary
Due: docs:build

docs: change the get doc (#AS-1398)
  docs/docs/api/06-Getters/get.md
  docs/docs/api/06-Getters/getall.md
Due: docs:build

docs: add in code docs for the get commands (#AS-1398)
  packages/askui-nodejs/src/execution/dsl.ts
Due: none

style: rm empty line (#AS-1398)
  packages/askui-nodejs/src/execution/dsl.ts
Due: none

refactor: small changes (#AS-1398)
  docs/docs/api/06-Getters/get.md
  docs/docs/api/06-Getters/getall.md
  packages/askui-nodejs/src/execution/dsl.ts
Due: docs:build

style: add empty spaces (#AS-1398)
  packages/askui-nodejs/src/execution/dsl.ts
Due: none

refactor: review remarks (#AS-1398)
  docs/docs/api/06-Getters/get.md
  docs/docs/api/06-Getters/getall.md
  packages/askui-nodejs/src/execution/dsl.ts
Due: docs:build

docs: make the and doc more clear (#AS-1444)
  docs/docs/api/04-Relations/and.md
  packages/askui-nodejs/src/execution/dsl.ts
Due: docs:build

refactor: small changes (#AS-1444)
  packages/askui-nodejs/src/execution/dsl.ts
Due: none

docs: add 'set up adb via cli'
  docs/docs/general/06-Tutorials/setup-android.md
Due: docs:build

refactor: small change (#AS-1444)
  docs/docs/api/04-Relations/and.md
  packages/askui-nodejs/src/execution/dsl.ts
Due: docs:build

docs: remove unofficial link
  docs/docs/general/06-Tutorials/setup-android.md
Due: docs:build

docs: fix typo and inconsistent numbering
  docs/docs/general/06-Tutorials/setup-android.md
Due: docs:build

feat(proxy): implement multiple proxy solutions for testing
  packages/askui-nodejs/package.json
  packages/askui-nodejs/src/utils/proxy/gloabl-agent-proxy.spec.ts
  packages/askui-nodejs/src/utils/proxy/hpagent-proxy.ts
  packages/askui-nodejs/src/utils/proxy/proxy-agent.spec.ts
  packages/askui-nodejs/src/utils/proxy/proxy-and-hpagent.spec.ts
  packages/askui-nodejs/src/utils/proxy/proxy-utils.ts
  packages/askui-nodejs/src/utils/proxy/windows-proxy-function.spec.ts
Due: none

docs: update the docs for the or relation (#AS-1444)
  docs/docs/api/04-Relations/or.md
  packages/askui-nodejs/src/execution/dsl.ts
Due: docs:build

docs: add directory hierarchy of the cmdline-tools
  docs/docs/general/06-Tutorials/setup-android.md
Due: docs:build

docs: adjusted all header level to be h2-h3
  docs/docs/general/06-Tutorials/setup-android.md
Due: docs:build

docs: add empty space in the or docs (#AS-1444)
  docs/docs/api/04-Relations/and.md
  docs/docs/api/04-Relations/or.md
  packages/askui-nodejs/src/execution/dsl.ts
Due: docs:build

docs: fix broken image in Spotify tutorial
  docs/docs/general/06-Tutorials/setup-android.md
  docs/docs/general/06-Tutorials/shop-demo.md
  docs/spellchecker-dictionary
Due: docs:build

docs: implement review remarks (#AS-1444)
  docs/docs/api/04-Relations/and.md
  docs/docs/api/04-Relations/or.md
  packages/askui-nodejs/src/execution/dsl.ts
Due: docs:build

docs: add empty line at eof for spellchecker dictionary
  docs/spellchecker-dictionary
Due: docs:build

Path conditions:
  examples:askui-nodejs-base-example:lint: any of: examples/askui-nodejs-base-example/**/*
  docs:build: any of: docs/**/*
