Repository askui/askui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: examples:askui-nodejs-base-example:lint, docs:build

examples:askui-nodejs-base-example:lint:
  stage: quality
  before_script:
  - - default
    - before_script
  - cd examples/askui-nodejs-base-example
  ...

docs:build:
  stage: build-docs
  variables:
    DOCS_BASE_URL: /mvp/askui/
    WORKDIR: docs
  script:
  - npm run build
  artifacts:
    paths:
    - ${WORKDIR}/dist

refactor: update the example project (#AS-1034)
  examples/askui-nodejs-base-example/package.json
  examples/askui-nodejs-base-example/test/helper/jest.setup.ts
Due: examples:askui-nodejs-base-example:lint

docs: update the code examples inside the docs (#AS-1034)
  docs/docs/general/01-Introduction/why-askui.md
  docs/docs/general/02-Getting Started/getting-started.md
  docs/docs/general/02-Getting Started/writing-your-first-test.md
  docs/docs/general/04-Continuous Integration/askui-ui-controller-docker-images.md
  docs/docs/general/04-Continuous Integration/gitlab-ci.md
  docs/docs/general/06-Tutorials/shop-demo.md
  docs/docs/general/06-Tutorials/spotify-tutorial.md
  docs/package-lock.json
Due: docs:build

refactor: implement review remarks (#AS-1034)
  docs/docs/general/04-Continuous Integration/askui-ui-controller-docker-images.md
  docs/docs/general/04-Continuous Integration/gitlab-ci.md
  examples/askui-nodejs-base-example/test/helper/jest.setup.ts
  packages/askui-nodejs/src/execution/execution-runtime.ts
  packages/askui-nodejs/src/execution/inference-client.ts
  packages/askui-nodejs/src/execution/ui-controller-client.ts
Due: examples:askui-nodejs-base-example:lint, docs:build

docs: add note in readme file in askui lib for troubleshooting (#AS-1007)
  packages/askui-nodejs/README.md
Due: none

docs: update example for configuration of askui controller and ui client (#AS-979)
  docs/docs/api/06-Configuration/askui-client.md
  docs/docs/api/06-Configuration/askui-ui-controller.md
Due: docs:build

docs: add comment for prestartCheck() of linux controller. check for libfuse2 (#AS-1007)
  packages/askui-nodejs/src/lib/ui-controller-linux.ts
Due: none

docs: change documentation of config of askui Controller and CLient- log levels (#AS-979)
  docs/docs/api/06-Configuration/askui-client.md
  docs/docs/api/06-Configuration/askui-ui-controller.md
Due: docs:build

docs: change in documentation of troubleshooting. remove try and catch in preStart method (#AS-1007)
  docs/docs/general/07-Troubleshooting/askui-ui-controller-starting-problems.md
  packages/askui-nodejs/README.md
  packages/askui-nodejs/src/lib/ui-controller-facade.ts
Due: docs:build

refactor: implement review remarks (#AS-993)
  packages/askui-nodejs/src/execution/ui-control-client.ts
  packages/askui-nodejs/src/utils/analytics/analytics-formater-interface.ts
  packages/askui-nodejs/src/utils/analytics/analytics-formater.ts
  packages/askui-nodejs/src/utils/analytics/analytics-interface.ts
  packages/askui-nodejs/src/utils/analytics/analytics.ts
  packages/askui-nodejs/src/utils/analytics/index.ts
  packages/askui-nodejs/src/utils/http/http-client-got.ts
  packages/askui-nodejs/src/utils/http/request-headers.ts
Due: none

refactor: mk init of http client & analytics clearer (#AS-993)
  packages/askui-nodejs/src/execution/ui-control-client.ts
Due: none

refactor: define custom headers efficiently on construction (#AS-993)
  packages/askui-nodejs/src/utils/http/http-client-got.ts
Due: none

fix: typo (#AS-993)
  packages/askui-nodejs/src/utils/http/http-client-got.ts
Due: none

feat: use builder pattern for ui-control-client (#AS-993)
  docs/docs/general/02-Getting Started/writing-your-first-test.md
  docs/docs/general/04-Continuous Integration/askui-ui-controller-docker-images.md
  docs/docs/general/04-Continuous Integration/gitlab-ci.md
  examples/askui-nodejs-base-example/test/helper/jest.setup.ts
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/helper/jest.setup.ts
  packages/askui-nodejs/src/execution/ui-control-client.ts
  packages/askui-nodejs/src/utils/http/http-client-got.ts
Due: examples:askui-nodejs-base-example:lint, docs:build

refactor: replace getter by static building (#AS-993)
  packages/askui-nodejs/src/execution/ui-control-client.ts
Due: none

refactor: split the analytic header (#AS-993)
  packages/askui-nodejs/src/execution/ui-control-client.ts
  packages/askui-nodejs/src/utils/analytics/analytics-interface.ts
  packages/askui-nodejs/src/utils/analytics/analytics.ts
Due: none

refactor: small changes (#AS-993)
  packages/askui-nodejs/src/utils/analytics/analytics.ts
Due: none

docs: update docs. improvement for better understanding and correct mistakes (#AS-979)
  docs/docs/api/06-Configuration/askui-ui-control-client.md
  docs/docs/api/06-Configuration/askui-ui-controller.md
  packages/askui-nodejs/src/execution/ui-controller-client-interface.ts
  packages/askui-nodejs/src/lib/ui-controller-args.ts
Due: docs:build

docs: revert versioned docs changes. delete duplication in troubleshooting chapter (#AS-1007)
  docs/docs/general/07-Troubleshooting/askui-ui-controller-starting-problems.md
  docs/versioned_docs/version-0.1.6/general/02-Getting Started/getting-started.md
  docs/versioned_docs/version-0.1.6/general/07-Troubleshooting/askuicontroller-starting-problems.md
Due: docs:build

docs: remove duplication in troubleshooting chapter (#AS-1007)
  docs/docs/general/07-Troubleshooting/askui-ui-controller-starting-problems.md
Due: docs:build

docs: revert versioned docs changes (#AS-1007)
  docs/docs/general/07-Troubleshooting/askui-ui-controller-starting-problems.md
Due: docs:build

perf: using sharp instead of jimp for image resizing (#AS-1073)
  examples/askui-nodejs-base-example/package.json
  package-lock.json
  packages/askui-nodejs/package.json
  packages/askui-nodejs/src/utils/transformations.ts
Due: examples:askui-nodejs-base-example:lint

perf: exchange jimp with sharp for better performance of image resizing (#AS-1073)
  package-lock.json
  packages/askui-nodejs/src/utils/transformations.ts
Due: none

perf(sharp for jimp): verify value as number (#AS-1073)
  packages/askui-nodejs/src/utils/transformations.ts
Due: none

perf: only provid integers for sharp resize method (#AS-1073)
  packages/askui-nodejs/src/utils/transformations.ts
Due: none

feat(askui-nodejs): allow typing secrets (#AS-920)
  packages/askui-nodejs/src/core/model/test-case-dto/test-step.ts
  packages/askui-nodejs/src/execution/dsl.spec.ts
  packages/askui-nodejs/src/execution/dsl.ts
  packages/askui-nodejs/src/execution/execution-runtime.ts
  packages/askui-nodejs/src/execution/inference-client.ts
  packages/askui-nodejs/src/execution/ui-control-client.ts
Due: none

refactor(askui-nodejs): reduce (hard to see) deps (#AS-920)
  packages/askui-nodejs/src/core/model/test-case-dto/test-step.ts
  packages/askui-nodejs/src/core/ui-control-commands/control-command.ts
  packages/askui-nodejs/src/execution/dsl.spec.ts
  packages/askui-nodejs/src/execution/dsl.ts
  packages/askui-nodejs/src/execution/execution-runtime.ts
  packages/askui-nodejs/src/execution/ui-control-client.ts
Due: none

fix: timeout error thrown on waitFor & improve ux of waitFor (#AS-1010)
  docs/docs/api/02-Commands/waitfor.md
  packages/askui-nodejs/src/execution/dsl.ts
  packages/askui-nodejs/src/execution/ui-control-client.ts
Due: docs:build

docs: fix typo (#AS-1010)
  docs/docs/api/02-Commands/waitfor.md
  packages/askui-nodejs/src/execution/ui-control-client.ts
Due: docs:build

chore: remove obsolete or redundant deps (#AS-1073)
  package-lock.json
  packages/askui-nodejs/package-lock.json
  packages/askui-nodejs/package.json
Due: none

chore: make example easily executable (#AS-1073)
  examples/askui-nodejs-base-example/Readme.md
  examples/askui-nodejs-base-example/package.json
Due: examples:askui-nodejs-base-example:lint

perf: change resize with sharp for numerical improvement (#AS-1073)
  packages/askui-nodejs/src/utils/transformations.ts
Due: none

build: fix dependencies (#AS-1073)
  docs/package-lock.json
  package-lock.json
  packages/askui-nodejs/package.json
Due: docs:build

fix(askui-nodejs): use sharp correctly for resizing (#AS-1073)
  packages/askui-nodejs/src/utils/transformations.ts
Due: none

refactor(askui-nodejs): extract base 64 image operations (#AS-1073)
  packages/askui-nodejs/src/core/model/test-case-dto/custom-element.spec.ts
  packages/askui-nodejs/src/core/model/test-case-dto/custom-element.ts
  packages/askui-nodejs/src/execution/execution-runtime.ts
  packages/askui-nodejs/src/utils/base_64_image/base-64-image-error.ts
  packages/askui-nodejs/src/utils/base_64_image/base-64-image-string-error.ts
  packages/askui-nodejs/src/utils/base_64_image/base-64-image.ts
  packages/askui-nodejs/src/utils/image-resize-errors/index.ts
  packages/askui-nodejs/src/utils/image-resize-errors/invalid-base64-image-error.ts
  packages/askui-nodejs/src/utils/transformations.ts
Due: none

refactor(askui-nodejs): encapsulate sharp in base 64 image (#AS-1073)
  packages/askui-nodejs/src/core/model/test-case-dto/custom-element.spec.ts
  packages/askui-nodejs/src/utils/base_64_image/base-64-image.ts
  packages/askui-nodejs/src/utils/transformations.ts
Due: none

refactor(askui-nodejs): remove redundant error code (#AS-1007)
  packages/askui-nodejs/src/lib/libfuse-error.ts
  packages/askui-nodejs/src/lib/timeout-error.ts
  packages/askui-nodejs/src/lib/unkown-error.ts
  packages/askui-nodejs/src/lib/wayland-error.ts
  packages/askui-nodejs/src/utils/http/custom-errors/http-client-error.ts
  packages/askui-nodejs/src/utils/image-resize-errors/image-resizing-base-error.ts
Due: none

refactor(askui-nodejs): use verbs for function names (#AS-1007)
  packages/askui-nodejs/src/lib/ui-controller-facade.ts
  packages/askui-nodejs/src/lib/ui-controller-linux.ts
Due: none

Path conditions:
  examples:askui-nodejs-base-example:lint: any of: examples/askui-nodejs-base-example/**/*
  docs:build: any of: docs/**/*
