Repository askui/askui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: examples:askui-nodejs-base-example:lint, docs:build

Path conditions:
  examples:askui-nodejs-base-example:lint: any of: examples/askui-nodejs-base-example/**/*
  docs:build: any of: docs/**/*

docs(docker-docu): change docker version to v0.9.1 (#AS-918)
  docs/docs/general/04-Continuous Integration/local-docker.md
Due: docs:build

docs(api-docs): updated doc for icon filter
  docs/docs/api/03-Filters/icon.md
Due: docs:build

docs(tut-docs): imporved tut docs (#AS-901)
  docs/docs/general/06-Tutorials/shop-demo.md
  docs/docs/general/06-Tutorials/spotify-tutorial.md
Due: docs:build

docs(tuts): gave tutorial a more general name (#AS-901)
  docs/docs/general/06-Tutorials/spotify-tutorial.md
Due: docs:build

refactor: update the isImageRequired response interface to the new format (#AS-919)
  packages/askui-nodejs/src/execution/control-your-ui-api.ts
  packages/askui-nodejs/src/execution/is-image-required-interface.ts
Due: none

refactor: small changes (#AS-893)
  packages/askui-nodejs/src/utils/http/http-client-got.ts
Due: none

refactor: small changes (#AS-893)
  packages/askui-nodejs/src/execution/client-interface.ts
  packages/askui-nodejs/src/utils/http/credentials.spec.ts
  packages/askui-nodejs/src/utils/http/credentials.ts
  packages/askui-nodejs/src/utils/http/http-client-got.ts
Due: none

docs(geeting-started): split the npm config into two shell commands (#AS-918)
  docs/docs/general/02-Getting Started/getting-started.md
Due: docs:build

refactor(ui-api): implement DRY principle (#AS-919)
  packages/askui-nodejs/src/execution/control-your-ui-api.ts
  packages/askui-nodejs/src/utils/transformations.ts
Due: none

refactor: fix Dependency cycle (#AS-919)
  packages/askui-nodejs/src/utils/transformations.ts
Due: none

refactor: fix pipline (#AS-919)
  packages/askui-nodejs/src/execution/control-your-ui-api.ts
  packages/askui-nodejs/src/utils/transformations.ts
Due: none

docs(tutorial): optimize (#AS-901)
  docs/docs/general/06-Tutorials/shop-demo.md
  docs/docs/general/06-Tutorials/spotify-tutorial.md
Due: docs:build

docs(tutorial): make test more sound and redoable (#AS-901)
  docs/docs/general/06-Tutorials/spotify-tutorial.md
Due: docs:build

refactor(http got): implement review remakrs (#AS-893)
  packages/askui-nodejs/src/execution/client-interface.ts
  packages/askui-nodejs/src/utils/http/credentials.ts
  packages/askui-nodejs/src/utils/http/http-client-got.ts
Due: none

chore: release 2.2.0-next.0 [skip-ci]
  CHANGELOG.md
  docs/package.json
  package-lock.json
  package.json
  packages/askui-nodejs/package.json
Due: docs:build

refactor: move httpclient to the constructor (#AS-893)
  packages/askui-nodejs/src/execution/client.ts
Due: none

docs(getting-started): fix setting config on windows with cmd (only double quotation marks allowed)
  docs/docs/general/02-Getting Started/getting-started.md
Due: docs:build

refactor: implement review remarks (#AS-893)
  packages/askui-nodejs/src/execution/client.ts
  packages/askui-nodejs/src/utils/http/http-client-got.ts
Due: none

test(read-environment credenials): unitest for envCrendtials was added (#AS-893)
  packages/askui-nodejs/src/execution/client.ts
  packages/askui-nodejs/src/utils/http/credentials.spec.ts
  packages/askui-nodejs/src/utils/http/read-environment-credentials.ts
Due: none

Configuration section for description of display option
  docs/docs/general/02-Getting Started/configuration.md
Due: docs:build

refactor: implement review remarks (#AS-893)
  packages/askui-nodejs/src/execution/client.ts
  packages/askui-nodejs/src/execution/read-environment-credentials.spec.ts
  packages/askui-nodejs/src/execution/read-environment-credentials.ts
  packages/askui-nodejs/src/utils/http/credentials.spec.ts
Due: none

docs: add configuration docs
  docs/docs/general/02-Getting Started/configuration
Due: docs:build

docs: changes after first review (#AS-945)
  docs/docs/general/02-Getting Started/configuration
  docs/docs/general/07-Configuration/configuration.md
Due: docs:build

refactor: change var name from passoword to token (#AS-893)
  packages/askui-nodejs/src/execution/read-environment-credentials.spec.ts
  packages/askui-nodejs/src/execution/read-environment-credentials.ts
  packages/askui-nodejs/src/utils/http/credentials.spec.ts
  packages/askui-nodejs/src/utils/http/credentials.ts
Due: none

docs: links visible in Documentation (also Dark Mode) (#AS-969)
  docs/docs/general/02-Getting Started/configuration.md
  docs/src/css/custom.scss
Due: docs:build

docs: variables for colors which are often used (#AS-969)
  docs/src/css/custom.scss
Due: docs:build

docs: names of variables changed (#AS-969)
  docs/src/css/custom.scss
Due: docs:build

docs: a few changes (#AS-945)
  docs/docs/general/07-AskuiControlServer/configuration.md
Due: docs:build

docs: added new CHapter AskuiControlServer and also small fixes in text (#AS-945)
  docs/docs/general/07-Configuration/configuration.md
Due: docs:build

docs: change from --basic to --white and adding collor prefix to variables (#AS-969)
  docs/src/css/custom.scss
Due: docs:build

docs: fixing variables syntax and correcting old variable names (#AS-969)
  docs/src/css/custom.scss
Due: docs:build

docs: changed structure and adding information about monitor order (#AS-945)
  docs/docs/general/07-Custom Settings/configuration.md
Due: docs:build

docs: removing of unnecessary color prefix for font-color (#AS-969)
  docs/src/css/custom.scss
Due: docs:build

docs: rEfactoring of old some variables because of prefic change of font-color (#AS-969)
  docs/src/css/custom.scss
Due: docs:build

docs: removing empty lines and new section Coming Soon- read hints for new chapters (#AS-945)
  docs/docs/general/07-Custom Settings/configuration.md
Due: docs:build

chore: release 2.3.0-next.0 [skip-ci]
  CHANGELOG.md
  docs/package.json
  package-lock.json
  package.json
  packages/askui-nodejs/package.json
Due: docs:build

docs(styling): reset primary color
  docs/src/css/custom.scss
Due: docs:build

docs: rM Jasmine specs file. Change README, add test folder, jest file and config file (#AS-923)
  examples/askui-nodejs-base-example/jest.config.js
  examples/askui-nodejs-base-example/specs/README.md
  examples/askui-nodejs-base-example/specs/helpers/askui-helper.ts
  examples/askui-nodejs-base-example/specs/my-first-askui-test-suite.spec.ts
  examples/askui-nodejs-base-example/specs/support/jasmine.json
  examples/askui-nodejs-base-example/test/README.md
  examples/askui-nodejs-base-example/test/my-first-askui-test-suite.test.ts
Due: examples:askui-nodejs-base-example:lint
