Repository askui/askui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: examples:askui-nodejs-base-example:lint, docs:build

examples:askui-nodejs-base-example:lint:
  stage: quality
  before_script:
  - - default
    - before_script
  - cd examples/askui-nodejs-base-example
  ...

docs:build:
  stage: build-docs
  variables:
    DOCS_BASE_URL: /mvp/askui/
    WORKDIR: docs
  script:
  - npm run build
  artifacts:
    paths:
    - ${WORKDIR}/dist

ci: run ci cd lazily (#AS-673)
  .github/workflows/ci-cd-askui-nodejs.yml
Due: none

ci: run quality on all branches (#AS-673)
  .github/workflows/ci-cd-askui-nodejs.yml
Due: none

ci: split up building/quality check from release (#AS-673)
  .github/workflows/ci-cd-askui-nodejs.yml
Due: none

docs: rm obsolete docs (#AS-673)
  CHANGELOG.md
  README.md
  packages/askui-nodejs/package-lock.json
Due: none

ci: disable prerelease on push for first release (#AS-673)
  .github/workflows/ci-cd-askui-nodejs.yml
Due: none

chore: sync docs version with package version (#AS-673)
  docs/package.json
  package-lock.json
Due: docs:build

ci: run on public runners (#AS-673)
  .github/workflows/docu-deployment.yml
Due: none

ci: upgrade used version for action (#AS-673)
  .github/workflows/docu-deployment.yml
Due: none

chore: remove husky from docs deps (#AS-673)
  .github/workflows/docu-deployment.yml
  docs/package.json
Due: docs:build

ci: fix job syntax and names for all jobs (#AS-673)
  .github/workflows/ci-cd-askui-nodejs.yml
  .github/workflows/docu-deployment.yml
Due: none

ci: add runs-on (#AS-673)
  .github/workflows/ci-cd-askui-nodejs.yml
  .github/workflows/docu-deployment.yml
Due: none

ci: add no-increment option for releasing
  .github/workflows/ci-cd-askui-nodejs.yml
Due: none

ci: improve clarity of no-increment option
  .github/workflows/ci-cd-askui-nodejs.yml
Due: none

ci: checkout repo & add deps in release job to fix it
  .github/workflows/ci-cd-askui-nodejs.yml
Due: none

ci: fix no-increment option
  .github/workflows/ci-cd-askui-nodejs.yml
Due: none

ci: add no-npm option
  .github/workflows/ci-cd-askui-nodejs.yml
Due: none

ci: fix releasing permissions
  .github/workflows/ci-cd-askui-nodejs.yml
Due: none

docs: fix outdated package name & inform about ui controller docker images
  docs/docs/general/04-Continuous Integration/askui-ui-controller-docker-images.md
Due: docs:build

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

build: prefix release version with "v"
  .release-it.json
Due: none

build: prefix release version with "v"
  README.md
Due: none

docs(gitlab-ci): update to public docker images and public lib (#AS-1044)
  docs/docs/general/04-Continuous Integration/gitlab-ci.md
Due: docs:build

ci(docu-deployment): restrict only docs release but not build to main branch (#AS-1044)
  .github/workflows/docu-deployment.yml
Due: none

ci(ci-cd): only release on manual dispatch & allow passing release-it options (#AS-1044)
  .github/workflows/ci-cd-askui-nodejs.yml
Due: none

docs(project-template): add typescript to dependencies (#AS-1044)
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/README.md
Due: none

chore: update version (#AS-1044)
  docs/package.json
  examples/askui-nodejs-base-example/package.json
  package-lock.json
  package.json
  packages/askui-nodejs/package.json
Due: examples:askui-nodejs-base-example:lint, docs:build

chore: restrict node version to repo to 16.x.x instead of 16.13.x
  package.json
Due: none

ci: don't skip on release so that docs are released
  .release-it.json
Due: none

ci: disable releasing using pipeline until protected branch issue is resolved
  .github/workflows/ci-cd-askui-nodejs.yml
Due: none

fix(askui-nodejs): start ui controller from path that includes whitespace (#AS-944)
  packages/askui-nodejs/src/lib/control-ui-server-darwin.ts
  packages/askui-nodejs/src/lib/control-ui-server-facade.ts
  packages/askui-nodejs/src/lib/control-ui-server-linux.ts
  packages/askui-nodejs/src/lib/download-binaries.ts
Due: none

docs(configuration options): document all config options for askui-uicontroller-server (#AS-979)
  docs/docs/api/06-Configuration/askui-ui-controller-server.md
  docs/docs/api/07-configuration.md
  docs/versioned_docs/version-0.1.6/api/06-Configuration/askui-ui-controller-server.md
  docs/versioned_docs/version-0.1.6/api/07-configuration.md
  packages/askui-nodejs/src/lib/control-ui-server-args.ts
Due: docs:build

docs: changes to docs of askui ui controler configurations (#AS-979)
  docs/docs/api/06-Configuration/askui-ui-controller-server.md
  docs/docs/api/07-configuration.md
  docs/versioned_docs/version-0.1.6/api/06-Configuration/askui-ui-controller-server.md
  docs/versioned_docs/version-0.1.6/api/06-Configuration/askui-ui-controller.md
  packages/askui-nodejs/src/lib/control-ui-server-args.ts
  packages/askui-nodejs/src/main.ts
  packages/askui-nodejs/src/shared/index.ts
Due: docs:build

refactor: rename scollUntil to scollInside. update docs (#AS-925)
  docs/versioned_docs/version-0.1.6/api/02-Commands/scrollinside.md
  packages/askui-nodejs/src/execution/dsl.ts
Due: docs:build

fix(jest.config.ts): updated jest version and added jest config for fast execution (#AS-1061)
  package-lock.json
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/jest.config.ts
  packages/askui-nodejs/package.json
Due: none

Path conditions:
  examples:askui-nodejs-base-example:lint: any of: examples/askui-nodejs-base-example/**/*
  docs:build: any of: docs/**/*
