Repository askui/askui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: examples:askui-nodejs-base-example:lint, docs:build

Path conditions:
  examples:askui-nodejs-base-example:lint: any of: examples/askui-nodejs-base-example/**/*
  docs:build: any of: docs/**/*

docs(readme): centered headline (#AS-673)
  README.md
Due: none

feat(workflow): added gh workflow (#AS-673)
  .github/workflows/docu-deployment.yml
  docs/README.md
  docs/docusaurus.config.js
Due: docs:build

docs: update documentation of askui-ui-controller docker images (#AS-961)
  docs/docs/general/04-Continuous Integration/askui-ui-controller-docker-images.md
  docs/docs/general/04-Continuous Integration/gitlab-ci.md
  docs/docs/general/04-Continuous Integration/local-docker.md
  docs/package.json
  package-lock.json
Due: docs:build

AS-962 the route was updated
  packages/askui-nodejs/src/execution/control-your-ui-api.ts
Due: none

revert to the old version
  packages/askui-nodejs/src/execution/control-your-ui-api.ts
Due: none

AS-962 update the control your ui api url
  packages/askui-nodejs/src/execution/client.ts
  packages/askui-nodejs/src/execution/control-your-ui-api.ts
Due: none

fix(docs-package): added husky to docs deps (#AS-673)
  docs/package.json
Due: docs:build

fix(docu-deployment): added missing docs subdir (#AS-673)
  .github/workflows/docu-deployment.yml
Due: none

fix(basurl): changed baseurl and switched runner (#AS-673)
  .github/workflows/docu-deployment.yml
  docs/docusaurus.config.js
Due: docs:build

fix(docu-depl): added node setup (#AS-673)
  .github/workflows/docu-deployment.yml
Due: none

Create CNAME
  CNAME
Due: none

fix(docusaurus-config): changed base url (#AS-673)
  docs/docusaurus.config.js
Due: docs:build

feat(docu-workflow): added triggers and cleaned up (#AS-673)
  .github/workflows/docu-deployment.yml
Due: none

docs: lowercase askui in reworked docs (#AS-961)
  docs/docs/general/03-Best Practice/selecting_ui_elements.mdx
  docs/docs/general/04-Continuous Integration/askui-ui-controller-docker-images.md
Due: docs:build

docs: gracious degregation of AskuiControlServer name (#AS-961)
  docs/docs/general/04-Continuous Integration/askui-ui-controller-docker-images.md
Due: docs:build

Delete CNAME
  CNAME
Due: none

docs: use more stable markdown syntax (#AS-961)
  docs/docs/general/04-Continuous Integration/askui-ui-controller-docker-images.md
Due: docs:build

docs(npm-docs): wrote readme for node js package (#AS-661)
  packages/askui-nodejs/README.md
Due: none

docs(npm-docs): adapted docs for npm package (#AS-661)
  packages/askui-nodejs/README.md
Due: none

docs(docu): removed docu part about authed npm reg (#AS-661)
  docs/docs/general/02-Getting Started/getting-started.md
  docs/docs/general/04-Continuous Integration/gitlab-ci.md
Due: docs:build

chore: make package public, unscoped and reset version (#AS-675)
  CHANGELOG.md
  docs/docs/general/02-Getting Started/getting-started.md
  docs/docs/general/02-Getting Started/writing-your-first-test.md
  docs/docs/general/04-Continuous Integration/local-docker.md
  docs/package.json
  examples/askui-nodejs-base-example/package-lock.json
  examples/askui-nodejs-base-example/package.json
  examples/askui-nodejs-base-example/test/helper/jest.setup.ts
  package-lock.json
  package.json
  packages/askui-nodejs/README.md
  packages/askui-nodejs/example_projects_templates/typescript_jest/test/helper/jest.setup.ts
  packages/askui-nodejs/package.json
Due: examples:askui-nodejs-base-example:lint, docs:build

ci: move ci/cd to github (#AS-675)
  .github/workflows/ci-cd-askui-nodejs.yml
  .gitlab-ci.yml
  .release-it.json
Due: none

ci: try out release (#AS-675)
  .release-it.json
  package-lock.json
  package.json
  packages/askui-nodejs/package.json
Due: none

chore: release 0.1.1-next.0 [skip-ci]
  CHANGELOG.md
  docs/package.json
  package-lock.json
  package.json
  packages/askui-nodejs/package.json
Due: docs:build

docs(docs): adapted paths of askui package (#AS-661)
  docs/docs/general/02-Getting Started/getting-started.md
  docs/docs/general/02-Getting Started/writing-your-first-test.md
  docs/docs/general/04-Continuous Integration/local-docker.md
Due: docs:build

fix: (AS-1048) adding typescript to npm install
  docs/docs/general/02-Getting Started/getting-started.md
Due: docs:build

ci: repository dispatch was added (#AS-673)
  .github/workflows/ci-cd-askui-nodejs.yml
Due: none

ci: fix the release tag (#AS-673)
  .github/workflows/ci-cd-askui-nodejs.yml
Due: none

chore: release 0.1.2-next.0 [skip-ci]
  CHANGELOG.md
  docs/package.json
  package-lock.json
  package.json
  packages/askui-nodejs/package.json
Due: docs:build

ci: enable the release workflow only on the main branche (#AS-673)
  .github/workflows/ci-cd-askui-nodejs.yml
Due: none

docs(docu-depl): changed dispatch name and removed feature branch from filer (#AS-673)
  .github/workflows/docu-deployment.yml
Due: none

docs(docu): review remakrs (#AS-661)
  docs/docs/general/02-Getting Started/getting-started.md
  packages/askui-nodejs/README.md
Due: docs:build

docs: rm full-stop at end of heading (#AS-673)
  README.md
Due: none

docs: add language to code block (#AS-661)
  packages/askui-nodejs/README.md
Due: none

ci: implement review remarks (#AS-673)
  .github/workflows/ci-cd-askui-nodejs.yml
  .release-it.json
  package-lock.json
  package.json
  packages/askui-nodejs/package-lock.json
  packages/askui-nodejs/package.json
Due: none
